<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470839923284-pu59u7fti49h8l09h3u76a7c4mh5bjkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470839923284-pu59u7fti49h8l09h3u76a7c4mh5bjkl</string>
	<key>API_KEY</key>
	<string>AIzaSyAAZ75RdS_xSrrK0tpvZnLoE7-ZWNU6aw8</string>
	<key>GCM_SENDER_ID</key>
	<string>470839923284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Es.AppProject</string>
	<key>PROJECT_ID</key>
	<string>app-project-a447f</string>
	<key>STORAGE_BUCKET</key>
	<string>app-project-a447f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470839923284:ios:fbe08fa5358d89ad6f13c1</string>
	<key>DATABASE_URL</key>
	<string>https://app-project-a447f.firebaseio.com</string>
</dict>
</plist>